// Body
//$body-font-family: "AraJozoor";

$body-bg: #f8fafc;

// Typography
//$font-family-sans-serif: 'AraJozoor';
$font-size-base: 2rem;
$line-height-base: 1.8;
//$font-family: 'AraJozoor';

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;



$data-table-border-radius:20px;
