//
@import url('https://fonts.googleapis.com/css? family=Oxygen:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css? family=Comfortaa&display=swap');

$body-font-family: 'Oxygen';
$title-font: 'Comfortaa';
.invoice-table {
	border-collapse: collapse;
    td,
    th {
        padding: 5px;
        border: rgb(207, 207, 207) 1px solid;
        text-align: center;
    }
    ._input {
        padding: 5px;
        border: rgb(207, 207, 207) 1px solid;
        text-align: center;
    }
    
}

.chip {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px;
	min-width: 100px;
	border-radius: 5px;
    font-size: 23px;
}
.chip span {
	font-size: 16px;
}


.input2{
    padding: 10px;
    background-color: #f9f9f9;
    border:solid 1px rgb(212, 212, 212)
}

$material-light: (
  'background': #e5e7eb
);

$font-size-root: 25px;

